body{
    background-color: #fff;
}  
header h1{
    color: rgb(194, 12, 12) ;
    margin-left: 30px; 
    padding-bottom: ;
    padding-top: 2%;
    font-size: 50px;
}
.name{
    background-color: blanchedalmond;
}
.para{
    color: rgb(247 5 39);
    margin-left: 30px;
    font-size: 30px;
    padding-bottom: 2%;
}
header h2{
    color:brown;
    margin-left: 30px;
    font-size: 40px;
    padding-top: ;
    padding-bottom: 2%;
}
.lanugage p{
    margin-left: 30px;
    font-size: 20px;
    line-height: 2;
}
nav {
    margin-left: 100px;
    word-spacing: 30px;
    font-size: 30px;
    padding-top: 2%;
}
h3{
    color:block;
    padding-bottom: 1%;
    padding-top: 1%;
}
h2{
    color: blue;
    margin-left: 50px;
    font-size: 30px;
    padding-bottom: 1%;
    padding-top: 2%;
}
h3{
    color: rgb(2, 11, 39);
    font-size: 25px;
    margin-left: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.arun{
    color:rgb(235, 120, 13);
    word-spacing: 30px;
    font-size: 30px;
    margin-left: 30px;
}
ol{
    font-size: 20px;
    margin-left: 30px;
    line-height: 2;
}
table, th, td{
    border: 1px solid;
    margin-left: 30px;
    font-size: 20;
    height:60;
    width: 150px;
}
.contact{
    background-color: aqua;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 300px; 
}
.contact h3{
    font-size: 40px;
    margin-left: 300px;
    margin-bottom: 20px;
}
input,select,textarea{
    width: 25%;
    padding: 12px;
    margin-left: 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
} 
.user,.phone ,.mail ,.count{
     font-size: 30px;
     text-align: center;
}
.user label{
    margin-right: 133px;
}
.mail label{
    margin-right: 100px;
}
.phone label{
    margin-right: 28px;
}
.count label{
    margin-right: 110px;
}
.msg{
    margin-top: 26px;
    text-align: center;
}
.msg label{
    margin-right: 100px;
}
.button{
    text-align: center;
}
.button button{
    background-color: rgb(34, 12, 112);
    font-size: 30px;
}
