body{
    background-color: #fff;
}  
header h1{
    color: rgb(194, 12, 12) ;
    margin-left: 500px; 
    padding-bottom: ;
    padding-top: 2%;
    font-size: 50px;

}
.name{
    background-color: blanchedalmond;
}
header p{ 
    color: rgb(194, 12, 12) ;
    margin-left: 100px;
    font-size: 20px;
    padding-bottom: 2%;
}
header h2{
    color:brown;
    margin-left: 500px;
    font-size: 40px;
    padding-top: ;
    padding-bottom: 2%;
}
nav{
    margin-left: 100px;
    word-spacing: 30px;
    font-size: 20px;
    padding-bottom: 2%;
    padding-top: 2%;
}
h3{
    color:block;
    padding-bottom: 1%;
    padding-top: 1%;
}
p
{
    color: red;
    
}
h2{
    color: blue;
    margin-left: 50px;
    font-size: 30px;
    padding-bottom: 1%;
    padding-top: 2%;
}
h3{
    color: rgb(2, 11, 39);
    font-size: 25px;
    margin-left: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.arun{
    color:rgb(235, 120, 13);
    word-spacing: 30px;
    font-size: 30px;
    margin-left: 30px;
}
ol{
    font-size: 20px;
    margin-left: 30px;
    line-height: 2;
}
table, th, td{
    border: 1px solid;
    margin-left: 30px;
    font-size: 20;
    height:60;
    width: 150px;
}
.contact{
    background-color: aqua;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.contact h3{
    margin-left: 500px;
    font-size: 30px;
}
input,select,textarea{
    width: 8 0%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
} 
.user{
  margin: 0px 0px 0px 0px;
  margin-left: 500px;
    font-size: 30px;
}
 .msg{
    margin: 0px 0px 0px 0px;
    margin-left: 500px;
    font-size: 30px;
  }
.count{
    margin: 0px 0px 0px 0px;
    margin-left: 500px;
    font-size: 30px;
  }
.mail{
    margin: 0px 0px 0px 0px;
    margin-left: 500px;
    font-size: 30px;
  }
.phone{
    margin: 0px 0px 0px 0px;
    margin-left: 500px;
    font-size: 30px;
}
.button{
    color: rgb(34, 12, 112);
    margin-left: 1000px;
    font-size: 30px;
}
